<!-- <div class="container">
  <div class="card">
    <h5 class="card-title">My Cart</h5>
  </div>
  <div class="center">
    <fa-icon style="font-size: 100px" [icon]="faCartArrowDown"></fa-icon>
    <h4>Your cart is empty!</h4>
    <h6>Add some product Now</h6>
    <button class="btn btn-primary">Shop Now</button>
  </div>
</div>
 -->

 <ng-container *ngIf="true">
   <div class="container">
    <div class="card-table">
      <div class="cart-product">
        <table class="table table-responsive">
          <thead>
            <tr>
             <th>No</th>
             <th>Product Name</th>
             <th>Product Image</th>
             <th>Description</th>
             <th>Price</th>
             <th>Quantity</th>
             <th>Total</th>
             <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Headphone</td>
              <td>Some Image</td>
              <td>This is branded headphone</td>
              <td>50.0000</td>
              <td>1</td>
              <td>50.000</td>
              <td>
                <button class="btn btn-danger"><fa-icon [icon]="faTrash"></fa-icon></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
   </div>
 </ng-container>

 <ng-container *ngIf="false">

 </ng-container>