<div class="container">
  <h4 class="text-center m-4 text-prod">New Product</h4>
  <div class="row mx-auto">
    <div class="card ms-2 me-2" style="width: 16rem" >
      <img [src]="headPhone" class="card-img-top" alt="headphone" />
      <div class="card-body bg-light">
        <h5 class="card-title">Headphone</h5>
        <p class="card-text mb-1">Headphone bluetooth</p>
        <fa-icon class="text-success star" [icon]="faStar"></fa-icon>
        <fa-icon class="text-success star" [icon]="faStar"></fa-icon>
        <fa-icon class="text-success star" [icon]="faStar"></fa-icon>
        <fa-icon class="text-success star" [icon]="faStar"></fa-icon>
        <fa-icon class="text-success star" [icon]="faStarHalfAlt"></fa-icon>
        <br />
        <a
          href="#"
          class="btn btn-primary me-2"
          data-bs-target="#product1"
          data-bs-toggle="modal"
          >Detail</a
        >
        <button href="" class="btn btn-danger">Rp300.000,-</button>
      </div>
    </div>
    
    <app-product-detail></app-product-detail>
</div>
